modules = ["nodejs-24", "php-8.4", "python-3.11", "system", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/1inme-mobile: expo"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/api-server: API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/mockup-sandbox: Component Preview Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/1inme: web"


[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 600000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
AWS_BUCKET = "1in.me"
AWS_DEFAULT_REGION = "ap-south-2"
AWS_URL = "https://d3l7wvr1shk1cg.cloudfront.net"
AWS_USE_PATH_STYLE_ENDPOINT = "true"
USER_CONTENT_DISK = "s3"
CONTACT_ADMIN_TOKEN = "qNApHcj3SDKCnQRrNcTyWOXdsxQMmeyhRy4Mf0"
APP_NAME = "Sayzio"
