openapi: 3.0.3
info:
  title: 1INME Mobile API
  version: '1.0.0'
  description: |
    JSON HTTP API used by the 1INME Expo mobile app (iOS + Android) and any
    third-party integrations. All endpoints are under `/api/v1` and use
    Laravel Sanctum bearer tokens for authentication unless explicitly marked
    as public.

    ### Conventions
    - Responses are always JSON with either `{"data": ...}` (success) or
      `{"error": {"message": ..., "code": ..., "details": ...}}` (failure).
    - List endpoints support `?per_page=N` (default 25, max 100) and return
      an additional `meta` block with pagination cursor info.
    - Mutating endpoints accept JSON bodies; CSRF protection is bypassed for
      bearer-token requests.

    ### Auth flows
    1. **Email/SMS OTP** — `POST /auth/otp/send` then `POST /auth/otp/verify`
       to receive a Sanctum token.
    2. **Native social** — handle the auth dance via the platform SDK
       (Apple, Google, Facebook) then `POST /auth/social` with the
       provider-issued **signed credential** (`id_token` for
       Apple/Google, `access_token` for Facebook). The server verifies
       the credential against the provider before issuing a Sanctum
       token; client-supplied `external_id` is no longer trusted.
    3. **Email + password** — `POST /auth/login` for compatibility with the
       web account password (where set).
    4. **Demo** — `POST /auth/demo` returns a token for the shared demo
       account; disabled in production.

servers:
  - url: https://1inme.com/api/v1
  - url: '{base}/api/v1'
    variables:
      base:
        default: http://localhost:5000
        description: Replace with your environment's base URL.

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Sanctum
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message: { type: string }
            code:    { type: string, nullable: true }
            details: { nullable: true }
    PaginationMeta:
      type: object
      properties:
        current_page: { type: integer }
        per_page:     { type: integer }
        total:        { type: integer }
        last_page:    { type: integer }
    User:
      type: object
      properties:
        id:              { type: integer }
        name:            { type: string }
        handle:          { type: string, nullable: true }
        avatar:          { type: string, nullable: true }
        bio:             { type: string, nullable: true }
        followers_count: { type: integer }
        email:           { type: string, nullable: true }
        phone:           { type: string, nullable: true }
        plan_id:         { type: integer, nullable: true }
        plan_expires_at: { type: string, nullable: true, format: date-time }
        trial_ends_at:   { type: string, nullable: true, format: date-time }
        role:            { type: string }
        status:          { type: string }
        onboarded_at:    { type: string, nullable: true, format: date-time }
        created_at:      { type: string, format: date-time }
    AuthSuccess:
      type: object
      properties:
        data:
          type: object
          properties:
            user:  { $ref: '#/components/schemas/User' }
            token: { type: string }
    Link:
      type: object
      properties:
        id:                    { type: integer }
        type:                  { type: string }
        alias:                 { type: string }
        title:                 { type: string, nullable: true }
        long_url:              { type: string, nullable: true }
        visibility:            { type: string }
        is_active:             { type: boolean }
        is_verified:           { type: boolean }
        is_password_protected: { type: boolean }
        expires_at:            { type: string, nullable: true, format: date-time }
        total_clicks:          { type: integer }
        unique_clicks:         { type: integer }
        seo_title:             { type: string, nullable: true }
        seo_description:       { type: string, nullable: true }
        seo_image:             { type: string, nullable: true }
        short_url:             { type: string }
        created_at:            { type: string, format: date-time }
        updated_at:            { type: string, format: date-time }
    BiolinkBlock:
      type: object
      properties:
        id:         { type: integer }
        link_id:    { type: integer }
        type:       { type: string }
        sort_order: { type: integer }
        parent_id:  { type: integer, nullable: true }
        is_active:  { type: boolean }
        settings:   { type: object, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    NfcWrite:
      type: object
      properties:
        id:                 { type: integer }
        link_id:            { type: integer }
        written_url:        { type: string }
        written_at:         { type: string, format: date-time }
        tag_uid:            { type: string, nullable: true }
        tag_type:           { type: string, nullable: true }
        tag_capacity_bytes: { type: integer, nullable: true }
        locked:             { type: boolean }
        device:             { type: string, nullable: true }
        device_label:       { type: string, nullable: true }
        platform:           { type: string, enum: [ios, android], nullable: true }
        source:             { type: string, enum: [mobile, web, import, api] }
        lat:                { type: number, format: float, nullable: true, minimum: -90,  maximum: 90 }
        lng:                { type: number, format: float, nullable: true, minimum: -180, maximum: 180 }
        label:              { type: string, nullable: true }
        meta:               { type: object, nullable: true }
        created_at:         { type: string, format: date-time }
    Notification:
      type: object
      properties:
        id:         { type: integer }
        type:       { type: string, nullable: true }
        title:      { type: string, nullable: true }
        body:       { type: string, nullable: true }
        data:       { nullable: true }
        url:        { type: string, nullable: true }
        read_at:    { type: string, nullable: true, format: date-time }
        created_at: { type: string, format: date-time }
    LoginEvent:
      type: object
      properties:
        id:           { type: integer }
        channel:      { type: string, description: "Where the sign-in came from (web_otp_email, mobile_otp, mobile_social_google, ...)" }
        country_code: { type: string, nullable: true, minLength: 2, maxLength: 2 }
        platform:     { type: string, nullable: true, description: "OS family parsed from user agent" }
        browser:      { type: string, nullable: true }
        device_label: { type: string, nullable: true }
        is_new:       { type: boolean, description: "True when this sign-in triggered a suspicious-login email" }
        new_reasons:
          type: array
          nullable: true
          items: { type: string, enum: [country, os, browser] }
        revoked_at:   { type: string, nullable: true, format: date-time }
        created_at:   { type: string, format: date-time }
        status:       { type: string, enum: [revoked, new, recognized] }
    Project:
      type: object
      properties:
        id:          { type: integer }
        name:        { type: string }
        description: { type: string, nullable: true }
        color:       { type: string, nullable: true }
        created_at:  { type: string, format: date-time }
    Post:
      type: object
      properties:
        id:         { type: integer }
        title:      { type: string, nullable: true }
        body:       { type: string }
        media:      { nullable: true }
        visibility: { type: string }
        created_at: { type: string, format: date-time }
    Contact:
      type: object
      properties:
        id:           { type: integer }
        display_name: { type: string, nullable: true }
        given_name:   { type: string, nullable: true }
        family_name:  { type: string, nullable: true }
        organization: { type: string, nullable: true }
        job_title:    { type: string, nullable: true }
        notes:        { type: string, nullable: true }
        photo_url:    { type: string, nullable: true }
        emails:
          type: array
          items:
            type: object
            properties:
              id:         { type: integer }
              label:      { type: string, nullable: true }
              value:      { type: string }
              is_primary: { type: boolean }
        phones:
          type: array
          items:
            type: object
            properties:
              id:         { type: integer }
              label:      { type: string, nullable: true }
              value:      { type: string }
              value_e164: { type: string, nullable: true }
              is_primary: { type: boolean }
        created_at:   { type: string, format: date-time }
    Form:
      type: object
      properties:
        id:                 { type: integer }
        title:              { type: string }
        slug:               { type: string }
        fields:             { type: array, items: { type: object } }
        is_active:          { type: boolean }
        submissions_count:  { type: integer }
        public_url:         { type: string, nullable: true }
        created_at:         { type: string, format: date-time }
    Workspace:
      type: object
      properties:
        id:           { type: integer }
        name:         { type: string }
        slug:         { type: string, nullable: true }
        is_personal:  { type: boolean }
        owner_user_id: { type: integer }
        created_at:   { type: string, format: date-time }
    SessionInfo:
      type: object
      properties:
        id:             { type: string, description: 'Composite id (e.g. `token:42` or `session:abc...`).' }
        kind:           { type: string, enum: [token, web] }
        client_kind:    { type: string, description: 'mobile | web | api etc.' }
        device_label:   { type: string }
        platform:       { type: string, nullable: true }
        user_agent:     { type: string, nullable: true }
        ip:             { type: string, nullable: true }
        country:        { type: string, nullable: true, description: 'ISO 3166-1 alpha-2.' }
        first_seen_at:  { type: string, nullable: true, format: date-time }
        last_active_at: { type: string, nullable: true, format: date-time }
        is_current:     { type: boolean }
    Plan:
      type: object
      properties:
        id:            { type: integer }
        slug:          { type: string }
        name:          { type: string }
        price_monthly: { type: number, nullable: true }
        price_yearly:  { type: number, nullable: true }
        currency:      { type: string }
        features:      { type: array, items: { type: string } }
        is_active:     { type: boolean }
        sort_order:    { type: integer }
    BackupCodeStatus:
      type: object
      description: |
        Snapshot of the user's 2FA backup-code state. The plaintext codes are
        only ever returned once (on `POST /auth/2fa/backup-codes`); after that
        only counts and a generated-at timestamp are exposed. Backup codes are
        only meaningful when 2FA is enabled — `enabled` will be false otherwise.
      properties:
        enabled:           { type: boolean, description: 'True when 2FA is enabled and backup codes are available.' }
        total:             { type: integer, description: 'How many codes were issued in the current set.' }
        remaining:         { type: integer, description: 'How many of those codes have not been consumed yet.' }
        generated_at:      { type: string, nullable: true, format: date-time }
        last_used_at:      { type: string, nullable: true, format: date-time }
    TrustedContact:
      type: object
      description: |
        A 1INME user nominated as a recovery contact. The `status` reflects
        the invitation lifecycle: `pending` (waiting for the contact to
        accept), `active` (accepted, eligible to confirm recovery requests),
        or `revoked` (removed by either party).
      properties:
        id:                { type: integer }
        contact_user_id:   { type: integer }
        contact_handle:    { type: string, nullable: true }
        contact_name:      { type: string, nullable: true }
        contact_avatar:    { type: string, nullable: true }
        status:            { type: string, enum: [pending, active, revoked] }
        invited_at:        { type: string, format: date-time }
        accepted_at:       { type: string, nullable: true, format: date-time }
    TrustedContactInvitation:
      type: object
      description: |
        An invitation pointing at the *current* user — i.e. someone else has
        nominated me as their recovery contact and is waiting for me to
        accept. Distinct from `TrustedContact`, which represents contacts I
        have nominated.
      properties:
        id:                { type: integer }
        owner_user_id:     { type: integer }
        owner_handle:      { type: string, nullable: true }
        owner_name:        { type: string, nullable: true }
        owner_avatar:      { type: string, nullable: true }
        invited_at:        { type: string, format: date-time }
    RecoveryRequest:
      type: object
      description: |
        A recovery attempt that needs out-of-band confirmation from the
        owner's trusted contacts. `confirmations_required` is the threshold
        the owner must reach before the recovery succeeds.
      properties:
        id:                     { type: integer }
        owner_user_id:          { type: integer }
        owner_handle:           { type: string, nullable: true }
        owner_name:             { type: string, nullable: true }
        reason:                 { type: string, nullable: true, description: 'Free-text context the requester provided (e.g. "lost phone").' }
        status:                 { type: string, enum: [pending, approved, denied, expired, cancelled] }
        confirmations_required: { type: integer }
        confirmations_received: { type: integer }
        my_confirmation:        { type: string, nullable: true, enum: [confirmed, denied], description: 'Where I (the contact) stand on this request.' }
        created_at:             { type: string, format: date-time }
        expires_at:             { type: string, format: date-time }
    PendingSensitiveChange:
      type: object
      description: |
        A staged change to the account email or password that is currently
        inside its cooling-off window. The change only takes effect at
        `effective_at` and can be cancelled by the original email recipient
        any time before then. New-device logins are blocked while a change
        is pending.
      properties:
        id:               { type: integer }
        kind:             { type: string, enum: [email, password] }
        new_email_masked: { type: string, nullable: true, description: 'Lightly-masked preview (e.g. "j••@example.com") shown in the UI; never the plaintext target.' }
        requested_at:     { type: string, format: date-time }
        effective_at:     { type: string, format: date-time }
        ip_address:       { type: string, nullable: true }
        user_agent:       { type: string, nullable: true }
    SecuritySettings:
      type: object
      description: |
        Per-account hardening configuration. `cool_off_hours` controls the
        delay before email/password changes take effect; `trusted_contact_*`
        bounds the trusted-contact list; `block_new_devices_during_cool_off`
        is the kill-switch for the new-device login lockout described above.
      properties:
        cool_off_hours:                       { type: integer, minimum: 0, maximum: 168 }
        trusted_contacts_max:                 { type: integer, minimum: 0, maximum: 10 }
        trusted_contacts_required_to_recover: { type: integer, minimum: 1, maximum: 10 }
        block_new_devices_during_cool_off:    { type: boolean }

paths:
  /health:
    get:
      summary: Healthcheck
      security: []
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status: { type: string }
                      time:   { type: string, format: date-time }

  /auth/register:
    post:
      summary: Register with email + password (web parity)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password]
              properties:
                name:     { type: string }
                email:    { type: string }
                password: { type: string, minLength: 8 }
                handle:   { type: string, nullable: true }
      responses:
        '201': { description: created, content: { application/json: { schema: { $ref: '#/components/schemas/AuthSuccess' } } } }
        '422': { description: validation error, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /auth/login:
    post:
      summary: Email + password login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:    { type: string }
                password: { type: string }
                device:   { type: string, nullable: true }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/AuthSuccess' } } } }
        '401': { description: invalid credentials, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /auth/otp/send:
    post:
      summary: Send a one-time login code by email or SMS
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identifier, type]
              properties:
                identifier: { type: string, description: 'Email address or mobile number' }
                type:       { type: string, enum: [email, mobile] }
      responses:
        '200':
          description: Generic success (no enumeration)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      sent:    { type: boolean }
                      message: { type: string }

  /auth/otp/verify:
    post:
      summary: Verify a one-time code and receive a Sanctum token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identifier, type, code]
              properties:
                identifier: { type: string }
                type:       { type: string, enum: [email, mobile] }
                code:       { type: string, minLength: 6, maxLength: 6 }
                device:     { type: string, nullable: true }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/AuthSuccess' } } } }
        '400': { description: invalid code, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: user not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /auth/2fa/backup-codes:
    get:
      summary: Status of the current backup-code set (counts only, no plaintext)
      description: |
        Returns the snapshot used by the security-settings UI. The plaintext
        codes themselves are only returned once at generation time and are
        never recoverable later; if a user loses them they must regenerate.
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      backup_codes: { $ref: '#/components/schemas/BackupCodeStatus' }
        '409':
          description: 2FA not enabled — enable it before generating backup codes
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    post:
      summary: Generate (or regenerate) backup codes — invalidates any previous set
      description: |
        Regeneration is destructive: every code in the previous set is
        immediately invalidated. The full plaintext list is returned in
        the response so the client can offer download/print; subsequent
        GETs only expose the count.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                count: { type: integer, minimum: 6, maximum: 16, description: 'How many codes to issue (default 10).' }
      responses:
        '201':
          description: codes generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      codes:        { type: array, items: { type: string }, description: 'Plaintext codes — show once, never re-fetchable.' }
                      backup_codes: { $ref: '#/components/schemas/BackupCodeStatus' }
        '409':
          description: 2FA not enabled
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /auth/2fa/backup-codes/verify:
    post:
      summary: Use a backup code to satisfy a pending 2FA challenge
      security: []
      description: |
        Alternative to the TOTP step in the 2FA flow. Accepts the
        challenge token returned by `/auth/login` (or the OTP flow when
        2FA is required) and one of the user's unused backup codes.
        Each code is single-use and is consumed on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challenge_token, code]
              properties:
                challenge_token: { type: string, description: 'Short-lived token issued by the prior auth step that signalled "2fa required".' }
                code:            { type: string, description: 'A backup code from the user''s set.' }
                device:          { type: string, nullable: true }
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/AuthSuccess' } } } }
        '400': { description: invalid or already-used code, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '410': { description: challenge token expired — restart sign-in, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /security/settings:
    get:
      summary: Read account-recovery hardening settings
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      settings: { $ref: '#/components/schemas/SecuritySettings' }
    patch:
      summary: Update hardening settings (cool-off duration, lockout policy)
      description: |
        Set `cool_off_hours` to 0 to disable the cooling-off period
        entirely (not recommended). Lowering the value does not shorten
        any change that is already in flight.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cool_off_hours:                       { type: integer, minimum: 0, maximum: 168 }
                trusted_contacts_required_to_recover: { type: integer, minimum: 1, maximum: 10 }
                block_new_devices_during_cool_off:    { type: boolean }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      settings: { $ref: '#/components/schemas/SecuritySettings' }

  /security/trusted-contacts:
    get:
      summary: List my nominated trusted contacts
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/TrustedContact' } }
    post:
      summary: Nominate another 1INME user as a trusted contact
      description: |
        The contact receives an in-app prompt and must accept before the
        nomination becomes `active`. Self-nomination is rejected and the
        list is capped at `trusted_contacts_max` from `/security/settings`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_user_id: { type: integer, nullable: true }
                handle:          { type: string, nullable: true, description: 'Alternative to contact_user_id — resolved server-side.' }
      responses:
        '201': { description: invited, content: { application/json: { schema: { type: object, properties: { data: { type: object, properties: { contact: { $ref: '#/components/schemas/TrustedContact' } } } } } } } }
        '404': { description: user not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '409': { description: already nominated / self-nomination / list full, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /security/trusted-contacts/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    delete:
      summary: Revoke a trusted contact (works in both `pending` and `active` states)
      responses:
        '204': { description: revoked }
        '404': { description: not found }

  /security/trusted-contacts/invitations:
    get:
      summary: Pending nominations *pointing at me* — i.e. people who want me as their recovery contact
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/TrustedContactInvitation' } }

  /security/trusted-contacts/invitations/{id}/accept:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    post:
      summary: Accept a nomination so I become an active recovery contact
      responses:
        '200': { description: ok }
        '404': { description: invitation not found or already resolved }

  /security/trusted-contacts/invitations/{id}/decline:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    post:
      summary: Decline a nomination
      responses:
        '204': { description: declined }
        '404': { description: invitation not found or already resolved }

  /security/recovery/requests:
    get:
      summary: Recovery requests I should weigh in on (as someone's trusted contact)
      description: |
        Lists the in-app prompts the recovery flow surfaces to a contact:
        e.g. "Alex is trying to recover their account — was it them?"
        Each prompt shows confirmation progress so contacts can see
        when the threshold has been reached.
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/RecoveryRequest' } }

  /security/recovery/requests/{id}/confirm:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    post:
      summary: Confirm or deny a recovery request as a trusted contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [confirmed, denied] }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      request: { $ref: '#/components/schemas/RecoveryRequest' }
        '404': { description: request not found / not eligible }
        '410': { description: request expired or already resolved }

  /security/sensitive-changes:
    get:
      summary: My pending email/password changes (those still inside the cool-off window)
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/PendingSensitiveChange' } }
    post:
      summary: Stage a sensitive change (email or password) behind the cool-off window
      description: |
        Validates the new value, persists the staged change, and emails
        the *previous* email address a one-click cancel link. The change
        only takes effect after `cool_off_hours` have passed; until then,
        new-device logins for this account are blocked when
        `block_new_devices_during_cool_off` is set.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [kind]
              properties:
                kind:             { type: string, enum: [email, password] }
                new_email:        { type: string, format: email, nullable: true, description: 'Required when kind=email.' }
                new_password:     { type: string, minLength: 8, nullable: true, description: 'Required when kind=password.' }
                current_password: { type: string, nullable: true, description: 'Required for kind=password and recommended for kind=email.' }
      responses:
        '201':
          description: staged
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      change: { $ref: '#/components/schemas/PendingSensitiveChange' }
        '409': { description: another change is already pending for this kind }
        '422': { description: validation error }

  /security/sensitive-changes/{id}/cancel:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    post:
      summary: Cancel a staged change before it takes effect
      description: |
        Callable two ways: 1) authenticated, from the in-app security
        screen; 2) unauthenticated, by following the one-click link
        emailed to the previous address — in that case the
        `cancellation_token` query parameter authorises the call.
      security: []
      parameters:
        - { in: query, name: cancellation_token, schema: { type: string }, description: 'Email cancel-link token. Omit when calling authenticated.' }
      responses:
        '204': { description: cancelled }
        '404': { description: not found }
        '410': { description: cool-off already elapsed; the change has taken effect and can no longer be cancelled }

  /auth/otp/register:
    post:
      summary: Mobile signup (creates account + sends OTP for verification)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, identifier, type]
              properties:
                name:       { type: string }
                identifier: { type: string }
                type:       { type: string, enum: [email, mobile] }
                country:    { type: string, nullable: true, minLength: 2, maxLength: 2 }
      responses:
        '201':
          description: account created, OTP sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      sent:    { type: boolean }
                      user_id: { type: integer }
                      message: { type: string }
        '409': { description: already registered, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /auth/social:
    post:
      summary: Native social sign-in (Apple, Google, Facebook)
      description: |
        The mobile client performs the native sign-in dance with the provider's
        SDK and forwards the resulting **signed credential** to this endpoint:

        | provider  | required field |
        |-----------|----------------|
        | apple     | `id_token`     |
        | google    | `id_token`     |
        | facebook  | `access_token` |

        The server verifies the credential against the provider (Apple JWKS,
        Google `tokeninfo`, Facebook `debug_token` + `/me`) and extracts the
        verified `sub` / email. Client-supplied `external_id` or `email` are
        **not** trusted.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [provider]
              properties:
                provider:     { type: string, enum: [apple, google, facebook] }
                id_token:     { type: string, nullable: true, description: 'Apple/Google identity token (required for those providers)' }
                access_token: { type: string, nullable: true, description: 'Facebook user-access-token (required for facebook)' }
                name:         { type: string, nullable: true, description: 'Optional fallback display name when the provider does not return one' }
                avatar:       { type: string, nullable: true }
                device:       { type: string, nullable: true }
      responses:
        '200':
          description: signed in (or created)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/AuthSuccess'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          created: { type: boolean }
        '401': { description: 'token verification failed', content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '409': { description: 'identity already linked elsewhere', content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '422': { description: 'validation error (Laravel default shape)' }

  /auth/demo:
    post:
      summary: Demo account login (non-production only)
      security: []
      responses:
        '200': { description: ok, content: { application/json: { schema: { $ref: '#/components/schemas/AuthSuccess' } } } }
        '404': { description: disabled in production, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /auth/me:
    get:
      summary: Current authenticated user
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user: { $ref: '#/components/schemas/User' }

  /auth/logout:
    post:
      summary: Revoke the current bearer token
      responses:
        '204': { description: revoked }

  /auth/sessions:
    get:
      summary: List active sessions and signed-in devices for the current user
      description: |
        Returns one entry per Sanctum bearer token (mobile / API clients)
        plus, when the server uses the database session driver, one entry
        per active web session. Each item carries a stable `id` (prefixed
        `token:` or `session:`) that can be passed to `DELETE
        /auth/sessions/{id}`. Exactly one entry has `is_current: true` —
        the session that issued the request.
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/SessionInfo'

  /auth/sessions/{id}:
    delete:
      summary: Revoke a single session by id
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
          description: 'Composite id returned by GET /auth/sessions (e.g. `token:42`, `session:abc...`).'
      responses:
        '204': { description: revoked }
        '404': { description: not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /auth/sessions/others:
    delete:
      summary: Revoke every session except the one making this request
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      revoked_tokens:   { type: integer }
                      revoked_sessions: { type: integer }

  /profile:
    get:
      summary: Get current profile
      responses:
        '200': { description: ok }
    patch:
      summary: Update current profile
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:            { type: string }
                bio:             { type: string, nullable: true }
                handle:          { type: string, nullable: true }
                avatar:          { type: string, nullable: true }
                phone:           { type: string, nullable: true }
                timezone:        { type: string, nullable: true }
                language:        { type: string, nullable: true }
                discoverable:    { type: boolean }
                allow_followers: { type: boolean }
      responses:
        '200': { description: ok }

  /onboarding:
    get:
      summary: Onboarding status snapshot
      responses:
        '200': { description: ok }
  /onboarding/complete:
    post:
      summary: Mark onboarding complete
      responses:
        '200': { description: ok }

  /links:
    get:
      summary: List the user's links
      parameters:
        - { in: query, name: type,     schema: { type: string } }
        - { in: query, name: q,        schema: { type: string } }
        - { in: query, name: per_page, schema: { type: integer } }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/Link' } }
                      meta:  { $ref: '#/components/schemas/PaginationMeta' }
    post:
      summary: Create a link or biolink
      description: |
        Single endpoint for every link type. The `type` discriminator
        selects what `long_url` / `payload` / `settings` mean:

        | type      | long_url           | settings (selected keys) |
        |-----------|--------------------|--------------------------|
        | short     | required, target URL | tracking, expiry, password |
        | biolink   | optional fallback  | appearance{ theme, font, button_style, bg, accent }, layout{ stack, columns, sections }, seo |
        | file/pdf  | optional CDN URL   | file{ name, size, mime, storage_disk } |
        | vcard     | optional v-card URL| vcard{ name, phone, email, org, title, avatar } |
        | event     | optional ICS URL   | event{ start, end, tz, location, rsvp } |
        | qr / wifi | n/a                | qr/wifi config payload   |
        | social    | optional profile   | social{ platform, handle } |
        | sms       | n/a                | sms{ to, body }          |

        The full surface — appearance, layout, settings, blocks — lives
        under this `/links` resource and the `/links/{id}/blocks`
        sub-resource. There is no separate per-type endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type]
              properties:
                type:            { type: string, enum: [short, biolink, file, qr, event, vcard, social, sms, wifi, pdf] }
                alias:           { type: string, nullable: true }
                title:           { type: string, nullable: true }
                long_url:        { type: string, nullable: true }
                visibility:      { type: string, enum: [public, registered, followers, subscribers] }
                is_active:       { type: boolean }
                seo_title:       { type: string, nullable: true }
                seo_description: { type: string, nullable: true }
                expires_at:      { type: string, nullable: true, format: date-time }
                settings:
                  type: object
                  additionalProperties: true
                  description: |
                    Type-specific configuration bag. Common sub-keys:
                    `appearance` (theme/colors/font/button style),
                    `layout` (block ordering/columns/section grouping),
                    `file` / `vcard` / `event` / `qr` / `wifi` / `sms`
                    payloads matching the discriminator above,
                    `tracking`, `password`, `country_blocklist`,
                    `expiry_url`, `seo`.
      responses:
        '201': { description: created }

  /links/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    get:
      summary: Read a single link
      responses:
        '200': { description: ok }
        '404': { description: not found }
    patch:
      summary: Update a link (incl. appearance / layout / type-specific settings)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:           { type: string, nullable: true }
                long_url:        { type: string, nullable: true }
                alias:           { type: string }
                visibility:      { type: string, enum: [public, registered, followers, subscribers] }
                is_active:       { type: boolean }
                seo_title:       { type: string, nullable: true }
                seo_description: { type: string, nullable: true }
                expires_at:      { type: string, nullable: true, format: date-time }
                settings:
                  type: object
                  additionalProperties: true
                  description: |
                    Same shape as `POST /links`. PATCHing `settings`
                    deep-merges the supplied keys; pass `null` for a
                    sub-key to clear it.
      responses:
        '200': { description: ok }
    delete:
      summary: Delete a link
      responses:
        '204': { description: deleted }

  /links/{id}/analytics:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
      - { in: query, name: from, schema: { type: string, format: date-time } }
      - { in: query, name: to,   schema: { type: string, format: date-time } }
    get:
      summary: Per-link analytics summary (clicks by day/country/referrer/device, plus per-block click summary)
      description: |
        Includes a `by_block` array used by the per-block analytics drill-down
        on web and mobile to populate the clickable block list. Each entry
        carries the block identifier, type, title, destination URL, total
        clicks, and unique-visitor count for the selected window.
      responses:
        '200': { description: ok }
        '404': { description: not found }

  /links/{id}/analytics/blocks/{blockId}:
    parameters:
      - { in: path, name: id,      required: true, schema: { type: integer } }
      - { in: path, name: blockId, required: true, schema: { type: integer } }
      - { in: query, name: from,   schema: { type: string, format: date-time } }
      - { in: query, name: to,     schema: { type: string, format: date-time } }
    get:
      summary: Per-block analytics drill-down (clicks per day, top referrers, devices, visitor types)
      description: |
        Powers the drill-down opened when a creator taps a block on the biolink
        analytics screen. Returns clicks per day for the selected range
        (defaults to the last 30 days), top referrers, device split, and a
        visitor-type breakdown bucketed as anonymous / registered / follower /
        subscriber (mutually exclusive, with priority subscriber > follower >
        registered > anonymous).
      responses:
        '200': { description: ok }
        '403': { description: 'block does not belong to this link' }
        '404': { description: 'link or block not found' }

  /links/{id}/blocks:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    get:
      summary: List biolink blocks
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/BiolinkBlock' } }
    post:
      summary: Create a biolink block
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type]
              properties:
                type:       { type: string }
                sort_order: { type: integer }
                parent_id:  { type: integer, nullable: true }
                is_active:  { type: boolean }
                settings:   { type: object }
      responses:
        '201': { description: created }

  /links/{id}/blocks/{blockId}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
      - { in: path, name: blockId, required: true, schema: { type: integer } }
    patch:
      summary: Update a biolink block
      responses: { '200': { description: ok } }
    delete:
      summary: Delete a biolink block
      responses: { '204': { description: deleted } }

  /links/{id}/blocks/reorder:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    post:
      summary: Reorder all blocks of a biolink in one shot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order]
              properties:
                order:
                  type: array
                  items: { type: integer }
                  description: 'Block IDs in the new desired order'
      responses: { '200': { description: ok } }

  /links/{id}/nfc-writes:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    get:
      summary: List NFC writes performed for this link
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/NfcWrite' } }
                      meta:  { $ref: '#/components/schemas/PaginationMeta' }
    post:
      summary: Record an NFC write performed in the mobile app
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [written_url]
              properties:
                written_url:        { type: string, format: uri }
                written_at:         { type: string, format: date-time, nullable: true }
                tag_uid:            { type: string, nullable: true }
                tag_type:           { type: string, nullable: true }
                tag_capacity_bytes: { type: integer, nullable: true }
                locked:             { type: boolean }
                device:             { type: string, nullable: true, description: 'Free-form device model (e.g. "iPhone 15 Pro")' }
                device_label:       { type: string, nullable: true, description: 'User-friendly nickname for the writer device (e.g. "Office reader")' }
                platform:           { type: string, enum: [ios, android], nullable: true }
                source:             { type: string, enum: [mobile, web, import, api], default: mobile }
                lat:                { type: number, format: float, nullable: true, minimum: -90,  maximum: 90 }
                lng:                { type: number, format: float, nullable: true, minimum: -180, maximum: 180 }
                label:              { type: string, nullable: true }
                meta:               { type: object, nullable: true }
      responses:
        '201':
          description: recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      nfc_write: { $ref: '#/components/schemas/NfcWrite' }

  /links/{id}/nfc-writes/{writeId}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
      - { in: path, name: writeId, required: true, schema: { type: integer } }
    delete:
      summary: Delete a single NFC write record
      responses: { '204': { description: deleted } }

  /nfc-writes/summary:
    get:
      summary: Per-link write counts (for the Times-written-to-NFC counter)
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      total: { type: integer }
                      by_link:
                        type: array
                        items:
                          type: object
                          properties:
                            link_id:         { type: integer }
                            writes_count:    { type: integer }
                            last_written_at: { type: string, format: date-time, nullable: true }

  /follows/{userId}:
    parameters:
      - { in: path, name: userId, required: true, schema: { type: integer } }
    post:    { summary: Follow a creator,    responses: { '200': { description: ok } } }
    delete:  { summary: Unfollow a creator,  responses: { '204': { description: unfollowed } } }

  /follows/following: { get: { summary: List creators you follow, responses: { '200': { description: ok } } } }
  /follows/followers: { get: { summary: List your followers,      responses: { '200': { description: ok } } } }

  /subscribers:
    get: { summary: List your email subscribers, responses: { '200': { description: ok } } }
  /subscribers/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    delete: { summary: Remove a subscriber, responses: { '204': { description: deleted } } }

  /notifications:
    get:
      summary: List notifications
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/Notification' } }
                      meta:
                        allOf:
                          - $ref: '#/components/schemas/PaginationMeta'
                          - type: object
                            properties:
                              unread_count: { type: integer }
  /notifications/read-all:
    post: { summary: Mark all as read, responses: { '200': { description: ok } } }
  /notifications/{id}/read:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    post: { summary: Mark a single notification as read, responses: { '200': { description: ok } } }

  /security/logins:
    get:
      summary: List recent successful sign-ins for the current user
      description: |
        Returns the last 50 login events for the authenticated account,
        most-recent first. Each row is the same record the
        suspicious-login email pipeline diffs against — `status` is
        `revoked` if the user clicked "This wasn't me", `new` if the
        sign-in came from a previously-unseen device/browser/country
        (and thus triggered an email), or `recognized` otherwise.
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      events:
                        type: array
                        items: { $ref: '#/components/schemas/LoginEvent' }
  /security/logins/{id}/revoke:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    post:
      summary: "Revoke a sign-in (\"This wasn't me\")"
      description: |
        Mirrors the one-click email link from mobile. Revokes the token
        that minted this sign-in, signs every other device out, and
        clears the password so the user must complete a forced reset
        before the account can be used again.
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      revoked: { type: boolean }
                      message: { type: string }
        '404': { description: Login not found }

  /projects:
    get:  { summary: List projects, responses: { '200': { description: ok } } }
    post:
      summary: Create a project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:        { type: string }
                description: { type: string, nullable: true }
                color:       { type: string, nullable: true }
      responses: { '201': { description: created } }
  /projects/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    patch:  { summary: Update a project, responses: { '200': { description: ok } } }
    delete: { summary: Delete a project, responses: { '204': { description: deleted } } }

  /resume:
    get:
      summary: Full resume (sections, items, registries) for the signed-in user
      description: |
        Returns the single Resume row for the authenticated user
        (auto-created on first read), grouped section items, and the
        registries (templates + color themes) the editor needs to render
        the picker UI. The same payload powers the web editor and the
        mobile native editor.
      responses:
        '200': { description: ok }
  /resume/header:
    put:
      summary: Update the resume header (name, headline, contact info)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:     { type: string, nullable: true }
                headline: { type: string, nullable: true }
                location: { type: string, nullable: true }
                email:    { type: string, nullable: true, format: email }
                phone:    { type: string, nullable: true }
                website:  { type: string, nullable: true, format: uri }
      responses:
        '200': { description: ok }
  /resume/summary:
    put:
      summary: Update the resume summary blurb
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                summary: { type: string, nullable: true, maxLength: 2000 }
      responses:
        '200': { description: ok }
  /resume/template:
    put:
      summary: Switch resume template (plan-gated)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [template_id]
              properties:
                template_id: { type: string }
      responses:
        '200': { description: ok }
        '403': { description: template not available on current plan }
  /resume/color-theme:
    put:
      summary: Switch resume color theme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [color_theme_id]
              properties:
                color_theme_id: { type: string }
      responses:
        '200': { description: ok }
  /resume/items:
    post:
      summary: Append a new section item (experience, education, skills, …)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [section_type, data]
              properties:
                section_type:
                  type: string
                  enum: [experience, education, skills, projects, certifications, awards, languages, links]
                data: { type: object, additionalProperties: true }
      responses:
        '201': { description: created }
  /resume/items/{item}:
    parameters:
      - { in: path, name: item, required: true, schema: { type: integer } }
    put:
      summary: Update a section item
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data: { type: object, additionalProperties: true }
      responses:
        '200': { description: ok }
    delete:
      summary: Delete a section item
      responses:
        '204': { description: deleted }
  /resume/items/reorder:
    post:
      summary: Reorder items inside a single section type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [section_type, item_ids]
              properties:
                section_type:
                  type: string
                  enum: [experience, education, skills, projects, certifications, awards, languages, links]
                item_ids:
                  type: array
                  items: { type: integer }
      responses:
        '200': { description: ok }
  /resume/publishing:
    put:
      summary: Toggle publish + visibility tier + indexing + meta + password
      description: |
        Mirrors the web `updatePublishing` route. The password is only
        honored when `visibility=password`; switching to any other tier
        clears the stored hash. Response includes the canonical public
        URL for the resume page.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [is_public, visibility, allow_indexing]
              properties:
                is_public:        { type: boolean }
                visibility:
                  type: string
                  enum: [public, registered, followers, subscribers, password]
                allow_indexing:   { type: boolean }
                password:         { type: string, nullable: true, maxLength: 200 }
                meta_description: { type: string, nullable: true, maxLength: 240 }
      responses:
        '200': { description: ok }
  /resume/public-pdf:
    put:
      summary: Toggle whether the public PDF link is reachable by visitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [is_public_pdf]
              properties:
                is_public_pdf: { type: boolean }
      responses:
        '200': { description: ok }

  /posts:
    get:  { summary: List your creator posts, responses: { '200': { description: ok } } }
    post:
      summary: Create a creator post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                title:      { type: string, nullable: true }
                body:       { type: string }
                media:      { type: array, items: { type: object }, nullable: true }
                visibility: { type: string, enum: [public, followers, subscribers] }
      responses: { '201': { description: created } }
  /posts/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    patch:  { summary: Update a post, responses: { '200': { description: ok } } }
    delete: { summary: Delete a post, responses: { '204': { description: deleted } } }

  /contacts:
    get:
      summary: List contacts
      parameters:
        - { in: query, name: q,        schema: { type: string } }
        - { in: query, name: per_page, schema: { type: integer } }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/Contact' } }
                      meta:  { $ref: '#/components/schemas/PaginationMeta' }
    post:
      summary: Create a contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name: { type: string, nullable: true }
                given_name:   { type: string, nullable: true }
                family_name:  { type: string, nullable: true }
                organization: { type: string, nullable: true }
                job_title:    { type: string, nullable: true }
                notes:        { type: string, nullable: true }
                emails:
                  type: array
                  items:
                    type: object
                    required: [value]
                    properties:
                      label:      { type: string, nullable: true }
                      value:      { type: string }
                      is_primary: { type: boolean }
                phones:
                  type: array
                  items:
                    type: object
                    required: [value]
                    properties:
                      label:      { type: string, nullable: true }
                      value:      { type: string }
                      value_e164: { type: string, nullable: true }
                      is_primary: { type: boolean }
      responses: { '201': { description: created } }
  /contacts/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    patch:
      summary: Update a contact (partial; emails/phones replace the set when supplied)
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Contact' }
      responses: { '200': { description: ok } }
    delete: { summary: Delete a contact, responses: { '204': { description: deleted } } }

  /forms:
    get: { summary: List forms, responses: { '200': { description: ok } } }
  /forms/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    get: { summary: Read a form, responses: { '200': { description: ok } } }
  /forms/{id}/submissions:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    get: { summary: List form submissions, responses: { '200': { description: ok } } }

  /inbox/threads:
    get: { summary: DM thread summaries on owned biolinks, responses: { '200': { description: ok } } }

  /workspaces:
    get: { summary: List workspaces I belong to, responses: { '200': { description: ok } } }
  /workspaces/{id}/members:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    get: { summary: List workspace members, responses: { '200': { description: ok } } }

  /plans:
    get:
      summary: Public plan catalog
      security: []
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/Plan' } }

  /biolinks/{alias}:
    parameters:
      - { in: path, name: alias, required: true, schema: { type: string } }
    get:
      summary: Public biolink (visibility-aware; viewer-token optional)
      security: []
      responses:
        '200': { description: ok }
        '401': { description: sign-in required for this biolink }
        '403': { description: must follow / subscribe }
        '404': { description: not found }

  /biolinks/{alias}/subscribe:
    parameters:
      - { in: path, name: alias, required: true, schema: { type: string } }
    post:
      summary: Subscribe (email opt-in) to a creator from a biolink
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
                name:  { type: string, nullable: true }
      responses: { '201': { description: subscribed } }

  /discovery/creators:
    get:
      summary: Browse public creators
      security: []
      responses: { '200': { description: ok } }
  /discovery/creators/{handle}:
    parameters:
      - { in: path, name: handle, required: true, schema: { type: string } }
    get:
      summary: Public creator profile
      security: []
      responses: { '200': { description: ok } }

  /feed:
    get:
      summary: Aggregated public creator feed
      security: []
      responses: { '200': { description: ok } }
  /creators/{handle}/feed:
    parameters:
      - { in: path, name: handle, required: true, schema: { type: string } }
    get:
      summary: Single creator's feed
      security: []
      responses: { '200': { description: ok } }

  /domains:
    get:  { summary: List custom domains, responses: { '200': { description: ok } } }
    post:
      summary: Add a custom domain (returns CNAME + verification token)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain]
              properties:
                domain: { type: string }
                type:   { type: string, enum: [custom, subdomain] }
      responses: { '201': { description: created } }
  /domains/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    delete: { summary: Remove a domain, responses: { '204': { description: deleted } } }

  /splash-pages:
    get:  { summary: List splash pages, responses: { '200': { description: ok } } }
    post:
      summary: Create a splash page
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:          { type: string }
                title:         { type: string, nullable: true }
                description:   { type: string, nullable: true }
                cta_label:     { type: string, nullable: true }
                cta_url:       { type: string, nullable: true }
                auto_redirect: { type: boolean }
                countdown:     { type: integer, minimum: 0, maximum: 60 }
                project_id:    { type: integer, nullable: true }
      responses: { '201': { description: created } }
  /splash-pages/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    get:    { summary: Read a splash page,    responses: { '200': { description: ok } } }
    patch:  { summary: Update a splash page,  responses: { '200': { description: ok } } }
    delete: { summary: Delete a splash page,  responses: { '204': { description: deleted } } }

  /qr-codes:
    get:  { summary: List QR codes, responses: { '200': { description: ok } } }
    post:
      summary: Create a QR code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, type]
              properties:
                name:       { type: string }
                type:       { type: string }
                link_id:    { type: integer, nullable: true }
                project_id: { type: integer, nullable: true }
                payload:    { type: object,  nullable: true }
                design:     { type: object,  nullable: true }
      responses: { '201': { description: created } }
  /qr-codes/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    get:    { summary: Read a QR code,    responses: { '200': { description: ok } } }
    delete: { summary: Delete a QR code,  responses: { '204': { description: deleted } } }

  /social/connections:
    get:  { summary: List connected social accounts (read-only), responses: { '200': { description: ok } } }
  /social/connections/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    delete: { summary: Disconnect a social account, responses: { '204': { description: deleted } } }
  /social/proofs:
    get: { summary: List social-proof widgets, responses: { '200': { description: ok } } }

  /integrations:
    get: { summary: List configured integrations, responses: { '200': { description: ok } } }
  /integrations/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    delete: { summary: Disconnect an integration, responses: { '204': { description: deleted } } }

  /calendar/accounts:
    get: { summary: List connected calendar accounts, responses: { '200': { description: ok } } }
  /calendar/accounts/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    delete: { summary: Disconnect a calendar account, responses: { '204': { description: deleted } } }

  /links/{id}/rsvps:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    get: { summary: List RSVPs collected on this event biolink, responses: { '200': { description: ok } } }

  /vault/clients:
    get: { summary: List vault clients (visibility-filtered), responses: { '200': { description: ok } } }
  /vault/credentials:
    get: { summary: List vault credentials (no decrypted secrets), responses: { '200': { description: ok } } }

  /verifications:
    get: { summary: List my verification requests, responses: { '200': { description: ok } } }
    post:
      summary: Submit a verification request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [link_id, category]
              properties:
                link_id:       { type: integer }
                category:      { type: string, enum: [individual, business, org, creator] }
                business_name: { type: string, nullable: true }
                display_name:  { type: string, nullable: true }
                purpose:       { type: string, nullable: true }
      responses: { '201': { description: submitted } }

  /billing/subscription:
    get: { summary: Current subscription summary, responses: { '200': { description: ok } } }
  /billing/invoices:
    get: { summary: List invoices, responses: { '200': { description: ok } } }
    post:
      summary: Create a draft client invoice in the active workspace
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                currency:        { type: string, minLength: 3, maxLength: 3, nullable: true }
                recipient_email: { type: string, format: email, nullable: true }
                vault_client_id: { type: integer, nullable: true }
                notes_md:        { type: string, nullable: true }
                due_date:        { type: string, format: date, nullable: true }
      responses: { '201': { description: created }, '422': { description: invalid } }
  /billing/invoices/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    get:    { summary: Show invoice (with line items and PDF link), responses: { '200': { description: ok }, '404': { description: not found } } }
    patch:
      summary: Update a draft client invoice (line items, totals, recipient)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                line_items:
                  type: array
                  items:
                    type: object
                    required: [label, amount_minor]
                    properties:
                      label:        { type: string }
                      amount_minor: { type: integer, minimum: 0 }
                      quantity:     { type: integer, minimum: 1, maximum: 9999, nullable: true }
                discount_minor:  { type: integer, minimum: 0, nullable: true }
                tax_total_minor: { type: integer, minimum: 0, nullable: true }
                notes_md:        { type: string, nullable: true }
                due_date:        { type: string, format: date, nullable: true }
                vault_client_id: { type: integer, nullable: true }
                recipient_email: { type: string, format: email, nullable: true }
      responses: { '200': { description: ok }, '404': { description: not found }, '422': { description: invalid } }
    delete: { summary: Delete a draft client invoice, responses: { '204': { description: deleted }, '422': { description: paid invoices cannot be deleted } } }
  /billing/invoices/{id}/send:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    post:
      summary: Email the hosted pay link for a client invoice
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                recipient_email: { type: string, format: email, nullable: true }
      responses: { '200': { description: sent }, '422': { description: missing recipient or already paid } }

  /client-portals:
    get:  { summary: List client portals in the active workspace, responses: { '200': { description: ok } } }
    post:
      summary: Create a client portal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:             { type: string }
                vault_client_id:  { type: integer, nullable: true }
                brand_name:       { type: string, nullable: true }
                brand_color:      { type: string, nullable: true }
                welcome_message:  { type: string, nullable: true }
      responses: { '201': { description: created } }
  /client-portals/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    get:    { summary: Show a client portal with its shares and links, responses: { '200': { description: ok }, '404': { description: not found } } }
    patch:  { summary: Update a client portal, responses: { '200': { description: ok } } }
    delete: { summary: Delete a client portal, responses: { '204': { description: deleted } } }
  /client-portals/{id}/links:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    post:
      summary: Issue a magic link for a client portal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:      { type: string, format: email }
                expires_in: { type: integer, minimum: 1, maximum: 365, nullable: true }
      responses: { '201': { description: created } }

  /team:
    get: { summary: Members + pending invites for the active workspace, responses: { '200': { description: ok } } }
  /team/invite:
    post:
      summary: Invite a teammate to the active workspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, role]
              properties:
                email: { type: string, format: email }
                role:  { type: string, enum: [admin, editor, replier, analyst, viewer] }
      responses: { '201': { description: created }, '422': { description: seat limit / already member } }
  /team/invites/{invite}:
    parameters:
      - { in: path, name: invite, required: true, schema: { type: integer } }
    delete: { summary: Revoke a pending invite, responses: { '204': { description: revoked } } }
  /team/members/{member}:
    parameters:
      - { in: path, name: member, required: true, schema: { type: integer } }
    delete: { summary: Remove a workspace member, responses: { '204': { description: removed } } }

  /dialer/lookup:
    post:
      summary: Resolve a dialed E.164 number against the user's contacts and record the call
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [number_e164]
              properties:
                number_e164: { type: string, pattern: '^\+[1-9]\d{6,14}$' }
      responses: { '200': { description: ok } }
  /dialer/history:
    get: { summary: Recent dialer lookups (most-recent 100), responses: { '200': { description: ok } } }
