# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# env
.env
.env.local

# misc
.DS_Store
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
